<!DOCTYPE html>
<html>
<head>
	<title>Upload File</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1>Upload File</h1>
		<form action="upload_file" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label for="file">Choose a file to upload:</label>
				<input type="file" class="form-control-file" id="file" name="file">
			</div>
			<button type="submit" class="btn btn-primary">Upload</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<div>
	{% for message in messages %}
	<h3> {{message}}</h3>
	{% endfor %}
	<br>
	<button onclick="location.href='/login'">Go to Login Page for admin access</button>
</div>
</html>
